.form-client-container {
  margin: 25px;

  h2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.form-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  mat-form-field {
    width: 80%;
  }
}

.incident-btn-content {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-right: 28px;
  margin-top: 40px;
}

.IA-content-suggestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.IA-suggestion__options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 10px;
  }
}

.response-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  margin: 20px 15px;
}

.scrollable-textarea-container {
  width: 90%;
  max-width: 1200px;
}

.scrollable-textarea {
  resize: none;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface);
  border-radius: 4px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #8722a9;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
