<section class="form-client-container">
  <h2 mat-dialog-title class="dialog-title" *ngIf="isEmptyObject(clientData)">
    {{ "clients.form.newTitle" | translate | uppercase }}
  </h2>
  <h2 mat-dialog-title class="dialog-title" *ngIf="!isEmptyObject(clientData)">
    {{ "clients.form.editTitle" | translate | uppercase }}
  </h2>
  <form
    [formGroup]="clientsForm"
    (ngSubmit)="submitForm()"
    class="form-container"
  >
    <div class="form-content">
      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.nameCompanyLabel" | translate }}</mat-label>
        <input matInput formControlName="company_name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.nitLabel" | translate }}</mat-label>
        <input matInput formControlName="nit" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.responsibleLabel" | translate }}</mat-label>
        <input matInput formControlName="user_name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.phoneLabel" | translate }}</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.emailLabel" | translate }}</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.planLabel" | translate }}</mat-label>
        <mat-select formControlName="plan">
          <mat-option *ngFor="let plan of plans" [value]="plan.value">
            {{ plan.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="client-btn-content">
      <button mat-button (click)="closeDialog()" class="cancel-button">
        {{ "clients.form.cancelButton" | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="submitForm()"
        [disabled]="!clientsForm.valid"
      >
        {{ "clients.form.saveButton" | translate }}
      </button>
    </div>
  </form>
</section>
