<section class="form-client-container">
  <h2 mat-dialog-title class="dialog-title">
    {{ "clients.form.title" | translate | uppercase }}
  </h2>

  <form
    [formGroup]="clientsForm"
    (ngSubmit)="submitForm()"
    class="form-container"
  >
    <div class="form-content">
      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.nameCompanyLabel" | translate }}</mat-label>
        <input matInput formControlName="nombreEmpresa" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.nitLabel" | translate }}</mat-label>
        <input matInput formControlName="nit" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.responsibleLabel" | translate }}</mat-label>
        <input matInput formControlName="responsable" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.phoneLabel" | translate }}</mat-label>
        <input matInput formControlName="telefono" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.emailLabel" | translate }}</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "clients.form.planLabel" | translate }}</mat-label>
        <mat-select formControlName="plan">
          <mat-option [value]="'basic'">{{
            "clients.form.plans.basic" | translate
          }}</mat-option>
          <mat-option [value]="'premium'">{{
            "clients.form.plans.premium" | translate
          }}</mat-option>
          <mat-option [value]="'enterprise'">{{
            "clients.form.plans.enterprise" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="client-btn-content">
      <button mat-button (click)="closeDialog()" class="cancel-button">
        {{ "clients.form.cancelButton" | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!clientsForm.valid"
      >
        {{ "clients.form.saveButton" | translate }}
      </button>
    </div>
  </form>
</section>
