.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
}

canvas#myChart {
  width: 900px;
  height: 450px;
  box-sizing: border-box;
}

canvas#pieChart {
  width: 550px;
  height: 550px;
  box-sizing: border-box;
}

canvas#lineChart {
  width: 900px;
  height: 450px;
  box-sizing: border-box;
}
